html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;

    /* https://noeldelgado.github.io/shadowlord/#199ed9 */
    --tint-100: #ffffff;
    --tint-90: #e8f5fb;
    --tint-80: #d1ecf7;
    --tint-70: #bae2f4;
    --tint-60: #a3d8f0;
    --tint-50: #8ccfec;
    --tint-40: #75c5e8;
    --tint-30: #5ebbe4;
    --tint-20: #47b1e1;
    --tint-10: #30a8dd;
    --shade-00: #199ed9;
    --shade-10: #178ec3;
    --shade-20: #147eae;
    --shade-30: #126f98;
    --shade-40: #0f5f82;
    --shade-50: #0d4f6d;
    --shade-60: #0a3f57;
    --shade-70: #082f41;
    --shade-80: #05202b;
    --shade-90: #021016;
    --shade-100: #000000;

    --text-lightest: var(--tint-100);
    --text-light: var(--tint-80);
    --text-medium: var(--tint-60);
    --text-dark: var(--tint-40);
    --text-darkest: var(--tint-20);

    background-color: var(--shade-60);
    color: var(--text-medium);
}

.timezone-grid            { background-color: var(--shade-50); }

.timezone-grid .localtime { background-color: var(--shade-40); }
.timezone-grid .localtime[night-hours="true"] { background-color: unset; }
.timezone-grid .localtime[office-hours="true"] { background-color: var(--shade-20); }
.timezone-grid .localtime[lunch-hours="true"] { background-color: var(--shade-00); }

.timezone-grid .primary { color: var(--text-light); }
.timezone-grid .secondary { color: var(--text-medium); }
.timezone-grid .localtime[night-hours="true"] .primary { color: var(--text-medium); }
.timezone-grid .localtime[night-hours="true"] .secondary { color: var(--text-dark); }

main > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5em;
    height: 100%;
}

a {
    color: inherit;
}

header, footer {
    text-align: center;
}

.timezone-list {
    padding: 1em;
}

.timezone-list .title {
    text-align: center;
    margin: 1em;
}

.timezone-grid {
    display: grid;
    grid-template-columns: 1fr 6fr repeat(24, 1fr);
    grid-auto-flow: row;
    grid-row-gap: 1em;
    padding: 1em;
}

.timezone-row {
    display: contents;
}

.timezone-grid .description,
.timezone-grid .localtime {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.timezone-grid .weather {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.timezone-grid .weather img {
    width: 3em;
    height: 3em;
    display: block;
}

.timezone-grid .description .name {
    font-weight: bold;
}

.timezone-grid .description .offset {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.timezone-grid .description .hide {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.timezone-grid .description:hover .hide {
    opacity: 1;
}

.timezone-grid .localtime {
    display: block;
    text-align: center;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.timezone-grid .localtime .marker {
    display: none;
}

.timezone-grid .localtime[now="true"] .marker {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;

    display: block;
    border-right: 2px solid #30DAC1;
}

.timezone-grid .time:hover .localtime {
    font-weight: bold;
    text-decoration: underline;
}
