html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-family: 'Trebuchet MS', sans-serif;

    --turquoise-light: #1abc9c;
    --turquoise-dark: #16a085;
    --green-light: #2ECC71;
    --green-dark: #27AE60;
    --blue-light: #3498db;
    --blue-dark: #2980b9;
    --purple-light: #9B59B6;
    --purple-dark: #8E44AD;
    --black-light: #34495e;
    --black-dark: #2c3e50;
    --yellow-light: #F1C40F;
    --yellow-dark: #F39C12;
    --orange-light: #E67E22;
    --orange-dark: #D35400;
    --red-light: #E74C3C;
    --red-dark: #C0392B;
    --white-light: #ecf0f1;
    --white-dark: #bdc3c7;
    --grey-light: #95a5a6;
    --grey-dark: #7f8c8d;

    background-color: var(--black-dark);
}

main > div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5em;
    color: var(--white-light);
    height: 100%;
}

a {
    color: inherit;
}

header, footer {
    text-align: center;
}

.locations {
    padding: 1em;
}

.locations .title {
    text-align: center;
    margin: 1em;
}

.timezones {
    background-color: var(--black-light);
    display: grid;
    grid-template-columns: 6fr repeat(24, 1fr);
    grid-auto-flow: column;
}

.timezones .headers,
.timezones .time {
    display: contents;
}

.timezones .headers .location,
.timezones .time .localtime {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.timezones .headers .location.highlight,
.timezones .time .localtime.highlight {
    border-top: 2px solid var(--white-light);
    border-bottom: 2px solid var(--white-light);
}

.timezones .location {
    grid-column: 1;
    padding: 0 1em;
}


.timezones .location .name {
    font-weight: bold;
}

.timezones .location .date {
    color: var(--white-dark);
}

.timezones .location .meta {
    color: var(--white-dark);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.timezones .headers .hide {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}

.timezones .headers:hover .hide {
    opacity: 1;
}

.timezones .location .dst[inDST="false"] {
    color: var(--black-dark);
}

.timezones .location .dst[hasDST="false"] {
    display: none;
}

.timezones .localtime {
    padding: 1em 0;
    display: block;
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.timezones .localtime .ampm {
    color: var(--white-dark);
}

.timezones .localtime[asleep="true"] {
    background-color: var(--blue-dark);
}

.timezones .localtime[asleep="false"] {
    background-color: var(--blue-light);
}

.timezones .localtime[same-day-as-here="false"] {
    background-color: var(--black-light);
}

/* .timezones .localtime[local-hour="0"],
.timezones .localtime[local-hour="12"] {
    border-right: 3px solid var(--white-light);
} */

.timezones .time.now .localtime[asleep="true"] {
    background-color: var(--purple-dark);
}

.timezones .time.now .localtime[asleep="false"] {
    background-color: var(--purple-light);
}

.timezones .time:hover .localtime[asleep="true"] {
    background-color: var(--orange-dark);
}

.timezones .time:hover .localtime[asleep="false"] {
    background-color: var(--orange-light);
}

.timezones .time:target .localtime[asleep="true"] {
    background-color: var(--red-dark);
}

.timezones .time:target .localtime[asleep="false"] {
    background-color: var(--red-light);
}

footer {
    color: var(--grey-dark);
}
